%h1 Contact Support
%br
What topic can we help you with?
%br
%input.q(type="text" placeholder="your text here")
%br
%br
%br
Your email
%br
%input.r(type="text" placeholder="your email")
%br
%br
%br
Please describe your problem
%br
%input.s(type="text" placeholder="your text here")
%br

